<mat-card class="about-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>
      <a class="link" href="https://github.com/hadesfranklyn"
        >Franklyn Roberto</a
      >
    </mat-card-title>
    <mat-card-subtitle>FullStack developer com Spring-Boot</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-card-title _ngcontent-ves-c27="" class="mat-card-title title"
      >Tudo certo jovem!</mat-card-title
    >
    <mat-card-subtitle _ngcontent-ves-c27="" class="mat-card-subtitle subtitle"
      >Sobre Mim</mat-card-subtitle
    >

    <div style="display: inline-block; vertical-align: top">
      <img
        id="image"
        mat-card-image
        src="../../../assets/img/foto.jpeg"
        alt="Minha foto"
      />
    </div>

    <div style="display: inline-block">
      <p>
        Atualmente estou desenvolvendo soluções fullStack developer com
        Spring-Boot no backend e Angular no frontend, gosto muito de aprender e
        estou sempre em busca de novos desafios! Nas horas vagas curto tocar
        guitarra, fazer trilhas de mountain bike, andar de patins e obviamente
        gastar algumas horas naquela jogatina top! #neverstopplaying
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button class="about-button-row" mat-stroked-button>
      <a
        mat-stroked-button
        href="https://github.com/hadesfranklyn"
        target="_blank"
        >My GitHub</a
      >
    </button>
  </mat-card-actions>
</mat-card>
